<div id="<%= dom_id photo %>">
  <p>
    <strong>Album:</strong>
    <%= photo.album_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

  <p>
    <% if photo.image.analyzed? %>
      <p>true analyzed</p>
    <% end %>
    <% if photo.image.representable? %>
      <p>true representable</p>
      <%= link_to photo.image.filename, photo.image if photo.image.attached? %>
    <% end %>
  </p>

</div>
