<div class="row> 
    <div class="col col-lg-4">
        <%= link_to "Photo Album", albums_path %>
    </div>
    <div class="col col-lg-4">
        <%= link_to "Events", events_path %>
    </div>
    <div class="col col-lg-4">
        <%= link_to "Pages", pages_path %>
    </div>
</div>
<div class="row>
    <div class="col col-lg-4">
        <%= link_to "Photos", photos_path %>
    </div>
    <div class="col col-lg-4">
        <%= link_to "Sections", sections_path %>
    </div>
    <div class="col col-lg-4">
        <%= link_to "Sponsors", sponsors_path %>
    </div>
</div>